*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: lightgray;
}

#wrapper{
    display: grid;
    grid-template-columns:130px 70px 100px;
    margin-top: 200px;
    font-size: 2em;
    padding-left: 600px;
   
}



/* video{
    max-height: 500px;
    max-width: 500px;
    
    border: 9px solid ghostwhite;
    padding: 5em;
    margin: 2em;
   
} */